<?php

$STOCKFISH_PATH = ""; // LOCATION OF SF
$STOCKFISH_THREADS = 1; // AMOUNT OF THREADS TO RUN ON (CPU)
$STOCKFISH_MULTIPV = 10; // AMOUNT OF LINES TO INSPECT
$EVAL_TIME = 3000; // 1000 = 1 SEC

$PGNEXTRACT_PATH = "";

$GOOD_MOVE = 0.2; // 0.1 = 10% of the top move